<!-- Top Bar Start -->
<div class="top-bar" id="topBar">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-12">
        <div class="logo">
          <a href="index.html">
            <h1>SPO<span>NGE</span></h1>
            <!-- <img src="img/logo.jpg" alt="Logo"> -->
          </a>
        </div>
      </div>
      <div class="col-lg-8 col-md-7 d-none d-lg-block">
        <div class="row">
          <div class="col-4">
            <div class="top-bar-item">
              <div class="top-bar-icon">
                <i class="far fa-clock"></i>
              </div>
              <div class="top-bar-text">
                <h3>Opening Hour</h3>
                <p>24 X 7</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="top-bar-item">
              <div class="top-bar-icon">
                <i class="fa fa-phone-alt"></i>
              </div>
              <div class="top-bar-text">
                <h3>Call Us</h3>
                <p>+012 345 6789</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="top-bar-item">
              <div class="top-bar-icon">
                <i class="far fa-envelope"></i>
              </div>
              <div class="top-bar-text">
                <h3>Email Us</h3>
                <p>info@sponge.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Top Bar End -->

<!-- About Start -->
<div class="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-img">
          <img src="assets/img/about.jpg" alt="Image" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="section-header text-left">
          <p>About Us</p>
          <h2>car washing and detailing</h2>
        </div>
        <div class="about-content">
          <p>
            Lorem ipsum dolor sit amet elit. In vitae turpis. Donec in hendre
            dui, vel blandit massa. Ut vestibu suscipi cursus. Cras quis porta
            nulla, ut placerat risus. Aliquam nec magna eget velit luctus dictum
          </p>
          <ul>
            <li><i class="far fa-check-circle"></i>Dry Cleaning</li>
            <li><i class="far fa-check-circle"></i>Wet Cleaning</li>
            <li><i class="far fa-check-circle"></i>Polish</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Service Start -->
<div class="service">
  <div class="container">
    <div class="section-header text-center">
      <p>What We Do?</p>
      <h2>Premium Washing Services</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-car-wash-1"></i>
          <h3>Exterior Washing</h3>
          <p>
            Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit
            non metus tortor
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-car-wash"></i>
          <h3>Interior Washing</h3>
          <p>
            Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit
            non metus tortor
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-vacuum-cleaner"></i>
          <h3>Vacuum Cleaning</h3>
          <p>
            Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit
            non metus tortor
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-seat"></i>
          <h3>Seats Washing</h3>
          <p>
            Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit
            non metus tortor
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-car-service"></i>
          <h3>Window Wiping</h3>
          <p>
            Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit
            non metus tortor
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-car-service-2"></i>
          <h3>Wet Cleaning</h3>
          <p>
            Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit
            non metus tortor
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-car-wash"></i>
          <h3>Oil Changing</h3>
          <p>
            Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit
            non metus tortor
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-brush-1"></i>
          <h3>Brake Reparing</h3>
          <p>
            Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit
            non metus tortor
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- Price Start -->
<div class="price">
  <div class="container">
    <div class="section-header text-center">
      <p>Choose Your Wash Plan</p>
      <h2>On-Demand</h2>
      <h5>Individuals</h5>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="price-item">
          <div class="price-header">
            <h3>Basic Cleaning</h3>
            <h2><span>&#8377;</span><strong>49</strong></h2>
          </div>
          <div class="price-body">
            <ul>
              <li><i class="far fa-check-circle"></i>Exterior Dry Cleaning</li>
              <li><i class="far fa-times-circle"></i>Exterior Wet Washing</li>
              <li><i class="far fa-check-circle"></i>Interior Dry Cleaning</li>
              <li><i class="far fa-times-circle"></i>Interior Wet Washing</li>
              <li><i class="far fa-times-circle"></i>Polish</li>
            </ul>
          </div>
          <div class="price-footer">
            <a
              class="btn btn-custom"
              data-toggle="modal"
              [routerLink]="['/on-demand-basic']"
              >Book Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="price-item featured-item">
          <div class="price-header">
            <h3>Premium Cleaning</h3>
            <h2><span>&#8377;</span><strong>99</strong></h2>
          </div>
          <div class="price-body">
            <ul>
              <li><i class="far fa-times-circle"></i>Exterior Dry Cleaning</li>
              <li><i class="far fa-check-circle"></i>Exterior Wet Washing</li>
              <li><i class="far fa-times-circle"></i>Interior Dry Cleaning</li>
              <li><i class="far fa-check-circle"></i>Interior Wet Washing</li>
              <li><i class="far fa-times-circle"></i>Polish</li>
            </ul>
          </div>
          <div class="price-footer">
            <a
              class="btn btn-custom"
              data-toggle="modal"
              [routerLink]="['/on-demand-premium']"
              >Book Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="price-item">
          <div class="price-header">
            <h3>Custom Cleaning</h3>
            <h2><span>&#8377;</span><strong>&#8377;</strong></h2>
          </div>
          <div class="price-body">
            <ul>
              <li><i class="far fa-times-circle"></i>Exterior Dry Cleaning</li>
              <li><i class="far fa-times-circle"></i>Exterior Wet Washing</li>
              <li><i class="far fa-times-circle"></i>Interior Dry Cleaning</li>
              <li><i class="far fa-times-circle"></i>Interior Wet Washing</li>
              <li><i class="far fa-times-circle"></i>Polish</li>
            </ul>
          </div>
          <div class="price-footer">
            <a
              class="btn btn-custom"
              data-toggle="modal"
              [routerLink]="['/on-demand-custom']"
              >Book Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Price End -->

<!-- Price Start -->
<div class="price" id="demoSociety">
  <div class="container">
    <div class="section-header text-center">
      <p>Choose Your Wash Plan</p>
      <h2>Weekly Subscription</h2>
      <h5>Societies/Townships/SEZ</h5>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="price-item">
          <div class="price-header">
            <h3>Basic Cleaning</h3>
            <h2><span>&#8377;</span><strong>199</strong></h2>
          </div>
          <div class="price-body">
            <ul>
              <li><i class="far fa-check-circle"></i>Exterior Dry Cleaning</li>
              <li><i class="far fa-check-circle"></i>Exterior Wet Washing</li>
              <li><i class="far fa-check-circle"></i>Interior Dry Cleaning</li>
              <li><i class="far fa-times-circle"></i>Interior Wet Washing</li>
              <li><i class="far fa-times-circle"></i>Polish</li>
            </ul>
          </div>
          <div class="price-footer">
            <a
              class="btn btn-custom"
              data-toggle="modal"
              [routerLink]="['/weekly-basic']"
              >Book Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="price-item featured-item">
          <div class="price-header">
            <h3>Premium Cleaning</h3>
            <h2><span>&#8377;</span><strong>299</strong></h2>
          </div>
          <div class="price-body">
            <ul>
              <li><i class="far fa-check-circle"></i>Exterior Dry Cleaning</li>
              <li><i class="far fa-check-circle"></i>Exterior Wet Washing</li>
              <li><i class="far fa-check-circle"></i>Interior Dry Cleaning</li>
              <li><i class="far fa-check-circle"></i>Interior Wet Washing</li>
              <li><i class="far fa-check-circle"></i>Polish</li>
            </ul>
          </div>
          <div class="price-footer">
            <a
              class="btn btn-custom"
              data-toggle="modal"
              [routerLink]="['/weekly-premium']"
              >Book Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="price-item">
          <div class="price-header">
            <h3>Custom Cleaning</h3>
            <h2><span>&#8377;</span><strong>&#8377;</strong></h2>
          </div>
          <div class="price-body">
            <ul>
              <li><i class="far fa-times-circle"></i>Exterior Dry Cleaning</li>
              <li><i class="far fa-times-circle"></i>Exterior Wet Washing</li>
              <li><i class="far fa-times-circle"></i>Interior Dry Cleaning</li>
              <li><i class="far fa-times-circle"></i>Interior Wet Washing</li>
              <li><i class="far fa-times-circle"></i>Polish</li>
            </ul>
          </div>
          <div class="price-footer">
            <a
              class="btn btn-custom"
              data-toggle="modal"
              [routerLink]="['/weekly-custom']"
            >
              Book Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Price End -->

<!-- Price Start -->
<div class="price" id="demoSociety">
  <div class="container">
    <div class="section-header text-center">
      <p>Choose Your Wash Plan</p>
      <h2>Monthly Subscription</h2>
      <h5>Societies/Townships/SEZ</h5>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="price-item">
          <div class="price-header">
            <h3>Basic Cleaning</h3>
            <h2><span>&#8377;</span><strong>699</strong></h2>
          </div>
          <div class="price-body">
            <ul>
              <li><i class="far fa-check-circle"></i>Exterior Dry Cleaning</li>
              <li><i class="far fa-check-circle"></i>Exterior Wet Washing</li>
              <li><i class="far fa-check-circle"></i>Interior Dry Cleaning</li>
              <li><i class="far fa-times-circle"></i>Interior Wet Washing</li>
              <li><i class="far fa-times-circle"></i>Polish</li>
            </ul>
          </div>
          <div class="price-footer">
            <a
              class="btn btn-custom"
              data-toggle="modal"
              [routerLink]="['/monthly-basic']"
              >Book Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="price-item featured-item">
          <div class="price-header">
            <h3>Premium Cleaning</h3>
            <h2><span>&#8377;</span><strong>999</strong></h2>
          </div>
          <div class="price-body">
            <ul>
              <li><i class="far fa-check-circle"></i>Exterior Dry Cleaning</li>
              <li><i class="far fa-check-circle"></i>Exterior Wet Washing</li>
              <li><i class="far fa-check-circle"></i>Interior Dry Cleaning</li>
              <li><i class="far fa-check-circle"></i>Interior Wet Washing</li>
              <li><i class="far fa-check-circle"></i>Polish</li>
            </ul>
          </div>
          <div class="price-footer">
            <a
              class="btn btn-custom"
              data-toggle="modal"
              [routerLink]="['/monthly-premium']"
              >Book Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="price-item">
          <div class="price-header">
            <h3>Custom Cleaning</h3>
            <h2><span>&#8377;</span><strong>&#8377;</strong></h2>
          </div>
          <div class="price-body">
            <ul>
              <li><i class="far fa-times-circle"></i>Exterior Dry Cleaning</li>
              <li><i class="far fa-times-circle"></i>Exterior Wet Washing</li>
              <li><i class="far fa-times-circle"></i>Interior Dry Cleaning</li>
              <li><i class="far fa-times-circle"></i>Interior Wet Washing</li>
              <li><i class="far fa-times-circle"></i>Polish</li>
            </ul>
          </div>
          <div class="price-footer">
            <a
              class="btn btn-custom"
              data-toggle="modal"
              [routerLink]="['/monthly-custom']"
            >
              Book Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Price End -->

<!-- Location Start -->
<div class="location">
  <div class="container">
    <div class="row">
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="location-form">
              <h3>Reserve your vote !!!</h3>
              <form>
                <div class="control-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Full Name"
                    (change)="getName($event.target.value)"
                    required="required"
                  />
                </div>
                <div class="control-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    (change)="getEmail($event.target.value)"
                    required="required"
                  />
                </div>
                <div class="control-group">
                  <textarea
                    *ngIf="checkState"
                    class="form-control"
                    placeholder="Description"
                    required="required"
                    disabled
                    >{{ name }} is voting for {{ message }}</textarea
                  >
                </div>
                <div class="modal-footer border-0">
                  <button
                    class="btn btn-custom"
                    type="submit"
                    data-dismiss="modal"
                    (click)="submitForm()"
                  >
                    Book Now
                  </button>
                  <button class="btn btn-custom" data-dismiss="modal">
                    Close
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Location End -->

<!-- Back to top button -->
<a
  href="#topBar"
  pageScroll
  [pageScrollOffset]="0"
  [pageScrollEasing]="myEasing"
  [pageScrollInterruptible]="false"
  (pageScrollFinish)="doSmth($event)"
  class="back-to-top"
  ><i class="fa fa-chevron-up"></i
></a>
